.conte{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 250px;
}

.miCard .card{
    flex-direction: row;
}

.miCard img{
    width: 120px;
    height: 200px;
}

.miCard{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-top: 5px; 
}

.detallesProducto {
    margin-top: 7%;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.detallesProducto :link {
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightgrey;
    border-radius: 5px;
}

.detallesProducto :hover {
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    transform: scale(1.1);
    transition: all 0.5s;
}

.cuerpoCard{
    width: 180px;
    display: flex;
    align-items: center;
}