
.items {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content:space-between ;
}

.barra{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    background-color: brown;

}

.items li {
    list-style-type: none;
    padding: 15px;
    font-size: 1rem;
}

.items li a {
    text-decoration: none;
    color: white;
}

.items li a:hover {
    text-shadow: 2px 2px 3px #808000;
}

.barra img{
    width: 100px;
}

.miCarro img{
    width: 60px;
    height: 60px;
}

.miCarro{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 5px;
}

.miCard img{
    width: 120px;
    height: 90%;
    margin-top: 5%;
}

.miCard{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    margin-top: 15px; 
}

.bienvenida{
    background-color: brown;
    color: white;
    text-align: center;
} 

.botonesContador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.formatoContador img{
    width: 80px;
    height: 200px;
}

.formatoContador{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.margenes{
    margin-left: 20px;
    margin-right: 20px;
}

.logoInicial{
    background-color: brown;
}

.logoInicial img{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 45px;
    margin-top: 25px;
}

.posicion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1% 1% 1% 1%;
    background-color: brown;
}

.containerDetail{
    display: flex;
    justify-content:  space-between;
    max-width: 1200px;
}

.formatoDetalle img{
    width: 200px;
    height: 300px;
}

.formatoDetalle{
    text-align: center;
}

.cajaContenedora{
    width: 500px;
    height: 400px;
    background-color: white;
}

.Link{
    color: white;
}

.active{
    background-color: red;
    padding: 3px;
}

.contenedorSpinner {
    height: 100vh;
    position: relative;
}

.spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.detallesProducto {
    margin-top: 7%;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.detallesProducto :link {
    text-decoration: none;
    background-color: bisque;
}

.detallesProducto :hover {
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    transform: scale(1.1);
    transition: all 0.5s;
}

.conte{
    position: relative;
    display: inline-block; 
    justify-content: center;
    width: 350px;
    height: 400px;
}

.miCard .card{
    flex-direction: row;
}

.newtons-cradle {
    --uib-size: 40px;
    --uib-speed: 1.4s;
    --uib-color: black;
  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
  }
  
  .newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
  }
  
  .newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
  }
  
  .newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
  }
  
  .newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
  }
  
  @keyframes swing {
    0% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
    }
  
    25% {
      transform: rotate(70deg);
      animation-timing-function: ease-in;
    }
  
    50% {
      transform: rotate(0deg);
      animation-timing-function: linear;
    }
  }
  
  @keyframes swing2 {
    0% {
      transform: rotate(0deg);
      animation-timing-function: linear;
    }
  
    50% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
    }
  
    75% {
      transform: rotate(-70deg);
      animation-timing-function: ease-in;
    }
  }
  

  .fondo{
      background-color: grey;
  }