


.bienvenida{
    background-color: brown;
    color: white;
    text-align: center;
} 



.logoInicial{
    background-color: brown;
}

.logoInicial img{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 45px;
    margin-top: 25px;
}




.Link{
    color: white;
}

.active{
    background-color: red;
    padding: 3px;
}

.contenedorSpinner {
    height: 100vh;
    position: relative;
}

.spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}



  .fondo{
      background-color: grey;
  }
