.TotalCompra{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 15px;
    color: white;
    text-align: center;
}

.TituloCarrito{
    padding-top: 40px;
    color:white;
    background-color: brown;
    text-align: center;
}

.CarroVacio{
    color: brown;
    margin-top: 30px;
    font-size: 50px;
}

.FotoCarroVacio{
    width: 30%;
    margin-top: 10px;
}

.botonCarroVacio button{
    background-color: lightgrey;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.entorno{
    background-color: brown;
}

.contenedorCartVacio{
    margin-top: 10px;;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
}

.vaciarCart{
    margin-bottom: 20px;
    width: 20%;
    margin-left: 40%;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: black;
}

.fondoBrown{
    background-color: brown;
}

