
.items {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content:space-between ;
}

.barra{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    background-color: brown;
    padding-bottom: 50px;
}

.items li {
    list-style-type: none;
    padding: 15px;
    font-size: 1rem;
}

.items li a {
    text-decoration: none;
    color: white;
}

.items li a:hover {
    text-shadow: 2px 2px 3px #808000;
}

.barra img{
    width: 100px;
}