.contenedorCart{
    display: flex;
    border-style: solid;
    border-color: black;
    border-radius: 10px;    
    margin-top: 20px;
    background-color:white;
    width: 40%;
    height: 250px;
    margin-left: 30%;
    align-items: center;
}

.imagenCart {
    width: 100px;
    height: 90%;
    margin-top: 5%;
}

.nombreCart{
    margin-top: 10px;
}
.cantidadCart{
    margin-top: 10px;
}
.precioCartUnit{
    margin-top: 10px;
}
.precioCartTotal{
    margin-top: 10px;
}

.removeItemCart img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.removeItemCart button{
    border-style: none;
    margin-bottom: 15px;
    background-color: white;
}

.imagenCartItem{
    width: 30%;
    height: 100%;
    align-items: center;
}

.imagenCartItem img{
    width: 100px;
    height: 100%;
}

.datosCartItem{
    width: 70%;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}
