
.contenerdorGeneral{
    background-color: brown;
}

.contenedorCart{
    border-style: solid;
    border-color: lightblue;
    margin-top: 20px;
    /* background-color:lavender; */
    /* max-width: 90%; */
    width: 60%;
    margin-left: 20%;
    justify-content: center;
    text-align: center;

    display: flex;
    flex-direction: row;
}

.imagenCart img{
    width: 100px;
    height: 80%;
    margin-top: 15px;
}

.nombreCart{
    margin-top: 10px;
}
.cantidadCart{
    margin-top: 10px;
}
.precioCartUnit{
    margin-top: 10px;
}
.precioCartTotal{
    margin-top: 10px;
}

.removeItemCart img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    /* background-color: lavender; */
    /* background-color: white; */
    
}
.removeItemCart button{
    border-style: none;
    margin-bottom: 15px;
    
}
