.containerDetail{
    display: flex;
    justify-content:  space-between;
    max-width: 1200px;
    align-items: center;
    /* background-color:darkgoldenrod; */
    text-align: center;
}

.formatoDetalle img{
    width: 150px;
    height: 250px;
}

.cajaContenedora{
    width: 500px;
    height: 350px;
    background-color: white;
}

.detalleVino{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.botonCarritoFin{
    width: 60%;
    margin-left: 20%;
    margin-top: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-style:normal;
}

.orden{
    display: flex;
    flex-direction:row;
    margin-bottom: 5px;
    margin-left: 5px; 
    text-align: center;
}

.orden p{
    color: black;
}

.orden input{
    pointer-events: none;
}

.ordenyprogreso{
    position: relative;
    display: inline-block; 
    justify-content: center;
    background-color: white;
} 

.tamano{
    width: 120px;
    height: 300px;
}

.tamano img{
    width: 100%;
    height: 100%;
}

.tamano2{
    width: 200px;
    height: 300px;
    text-align: center;
}

.tamanio img{
    width: 60px;
    height: 150px;
}

.card-title{
    position: relative;
    margin-top: 0%;
    margin-bottom: 30px;
}